@media (max-width: 1030px){

  .container{
    width: 748px;
  }

  .navigation__item a{
    font-size: 12px;
    margin-right: 14px;

    &::after{
      top: 5px;
      right: -10px;
    }
  }

  .logo{
    font-size: 20px;
  }

  .main-header__left{
    width: 570px;
  }

  .main-header__right{
    width: 155px;
  }

  .content{
    &__text{
      width: 360px;
    }

    &__sidebar{
      width: 300px;
    }
  }

  .banner img{
    width: 100%;
  }


}
